body {
        background-image: url("https://vgy.me/6koxRj.jpg");
} 

@font-face {
    font-family: Roboto;
    src: url(https://github.com/theanidox/theanidox.github.io/blob/siteassets/Roboto-Thin.ttf);
}

