body {
        background-image: url("https://vgy.me/6koxRj.jpg");
} 

 body {
    font-family: "Courier New", Times, serif;
}

span {
    display: block;
    height: 60px;
    width: 60px;
    line-height: 60px;

    -moz-border-radius: 30px; /* or 50% */
    border-radius: 30px; /* or 50% */

    background-color: black;
    color: white;
    text-align: center;
    font-size: 2em;
}
